@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  }

.visually-hidden{
position: absolute;
width:1px;
height:1px;
margin:-1px;
padding:0;
border:0;
clip: rect(0 0 0 0);
overflow: hidden;
}


.main-container {
  flex-grow: 1;
  width: 1200px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: black;
  background: #ffffff;
  text-align: center;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 64px;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


 .navigation-user {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  max-height: 64px;

  padding: 0;
  margin-right: -26px;
  margin-bottom:6px;
}




.navigation-link-button{

    color: #ffffff;
    background: #756157;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border-width: 0;
    margin-right: 70px;
}

.navigation-link-button p{
  font-family: "PT Sans", sans-serif;
  color:#ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform:uppercase;
  text-align: center;
  padding:0;
  margin: 0 auto;
}




.navigation-link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
   padding: 20px 16px 20px 16px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.description-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin:68px 0 26px 0;
}

.text-cause {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin:0 0 68px 0;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
  padding: 0;
  margin-top: 22px;
}

.images-city {
  display: block;
}

.advantage-item {
  color: #000000;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;

}

.small-area p{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;
}

.beautiful-road p{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;

}

.few-tourists p{
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 85px 112px 85px;
}

.blue-item {
  color: #ffffff;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;
}


.blue-item p{
margin: 0 85px 102px 85px;
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 21px;
}



.blue-item h3{
  margin:102px 112px 30px 112px;
}

.advantage-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding:0;
   width: 175px;
  height: 56px;
  text-transform: uppercase;
}



.rectangle {
  margin: 0 170px 30px 170px;
}

.small-area {
  background: #83b3d31f;
}
.beautiful-road {
  background: #83b3d333;
}


.small-area h3{
  margin: 112px 112px 30px 112px;

}

.beautiful-road h3{
margin: 112px 112px 30px 112px;

}

.few-tourists h3{
margin: 112px 112px 30px 112px;

}

.few-tourists {
  background: #83b3d31f;

}

.come-to-sedona h2 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 64px 0 20px 0;
  text-transform: uppercase;
}

.come-to-sedona p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 64px 0;
}

.cards-list {
  display:flex;
  padding: 0;

}

.cads-element {
  color: #000000;
  background: #83b3d31f;
  text-align: center;
  width: 400px;
  height: 385px;
}

.cards-burger {
  background-color: #ffffff;
}

.cads-element h4 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0 86px 30px 86px;
  text-transform: uppercase;
}

.cads-element p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin:0 78px 30px 78px;
}

.expected-dates {
  color: #000000;
  background: #ffffff;
  text-align: center;
}

.expected-dates h3 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 96px 0 20px 0;
}


.expected-dates p{
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
 margin: 0 0 54px 0;

}

.expected-dates {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  color: #ffffff;
  background: #756157;
  width: 367px;
  height: 52px;
  border-radius: 4px;
  border-width: 0;
  margin: 0 0 96px 0;
}

.search-button p {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.subscription {
  color: #ffffff;
  background-image: url("../images/fon-email.jpg");
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.subscription h3 {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform:uppercase;
  padding:96px 0 20px 0;
  margin: 0;
}

.subscription p {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 54px 0;
}

.blue-button {
  color: #ffffff;
  background: #82b3d3;
}

.subscribe_button{
  color: #ffffff;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight:700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 232px;
  height: 52px;

}

.filter-button{
  font-family: "PT Sans", sans-serif;
  font-weight:700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: medium none;
	background-image: none;
	background: transparent;


 text-transform: uppercase;
}

 .form_email{
width: 452px;
height: 52px;
border-radius: 4px 0 0;

}


.page-footer {
  text-align: center;
}

.description-text {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hero {
  background-image: url("../images/Fon-images.jpg");
  width: 1200px;
  height: 485px;
  background-size: cover;
}

.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 81px;
}

.telephone-footer a {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.main-index {
  width: 1200px;
}

.main-inner {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  width: 1200px;
}

.main-inner h1 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.infrastructure {
  color:#FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 150px;
  height: 175px;
  padding: 0;
  margin-left: 70px;
  margin-right: 46px;
}

.filter-button-blue {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  width:190px;
  height:36px;
  text-transform: uppercase;
}

.main-inner input {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.spa {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards a {
  color: #000000;
}

.cards-amara {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border: 3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.cards-amara p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.amara-more-details {
  color: #ffffff;
  background: #756157;
}

.amara-to-favorites {
  color: #ffffff;
  background: #82b3d3;
}

.cards-villas {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.diablo {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

}

.cards-villas p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cards-desert {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.desert {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards-desert p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cards-greentree {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.greentree {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards-greentree p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  height: 120px;
}


.footer_social{
max-width: 190px;
display:flex;
align-items: center;
flex-wrap:wrap;
margin-left: -80px;
}

.footer_social_list{
margin:0;
padding:0;
}

.footer_social_item{
min-width:18px;
min-height: 15px;
margin-left: 26px;
}





.telephone-footer {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 350px;
  min-height: 40px;
}

.number_footer{
margin-top: 40px;
margin-left: 40px;

}

.images-html {
  list-style-type: none;
  width: 115px;
  height: 33px;
  margin-top: 42px;
  margin-right: -20px;
}

ul {
  list-style-type: none;
}

.catalog_menu {
  display: flex;
  flex-direction: column;
}



.infrastructure ul li {
  padding: 0 auto;
}

.type_house {
  width: 150px;
  height: 160px;
}

.title_menu {
  color:#FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.title_label {
  color:#FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog_list {
  width: 100%;
  background-image: url(../images/fon_catalog_price.jpeg);
   height: 412px;
}

.elements_catalog_lists{
display: flex;
margin-top: 30px;

}

.hotels_found {
  display: flex;
  align-items: center;
}

.hotels_found h3{
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 36px;
padding:56px 200px 46px 70px;
text-transform: uppercase;
margin:0;
}

.catalog_title_menu {
  width: 1200px;
  display: flex;
}
.subscription_catalog {
  color: #000;
  width: 100%;
  height: 415px;
  text-align: center;
}

.subscription_catalog h3{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 96px 0 20px 0;
}

.subscription_catalog p{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#000000;
   margin: 0 0 54px 0;

}

.cards_menu {
  display: flex;
  flex-direction: row;
  gap:80px;
  flex-wrap: wrap;
  padding: 0;
  }

.menu_icons{
display: flex;
flex-direction: row;
list-style-type: none;
gap:8px;
}

.input_price{
width: 100px;

}

.button_price{
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  margin-left: 44px;
  margin-top:50px;
}

.price_catalog{
width: 300px;
height: 160px;
margin-left: 110px;
}

.hotels_text p{
margin:0;
}


.breadcrumbs{
display:flex;
margin:0;
padding:0;

}


.select_pets{
width: 292px;
min-height: 50px;
margin-right: 70px;
border-color: #E5E5E5;

}

.breadcrumbs_link{
margin-left: 70px;
margin-right: 10px;


}

.more_sign{
margin-right: 10px;


}

.catalog_sedona_hotels h1{
  color:#ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
   margin:34px 0 8px 30px;
}

.hotels_text{
  color:#ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display:flex;
}

.logo{
margin-left:70px;
margin-right: 30px;
}



.images_house_cards{
margin: 82px 162px 30px 164px;
}

.images_burger_cards{
margin:82px 164px 30px 164px;
}


.images_present_cards{
margin:80px 168px 28px 168px;
}



.vk-images{
width: 48px;
height:40px;

/* margin:58px 13px 48px 82px; */
}

.telegram-images{
  width: 48px;
  height:40px;
}

.youtube-images{
  width: 48px;
  height:40px;

}

.pagination-container{

display: flex;
padding: 8px;
}

.pagination-item:not(:last-child){
  margin-right: 8px;
}


.pagination{

  display: flex;
  margin: 0;
  padding: 0;

}

.pagination-link{
display:block;
box-sizing: border-box;
width:60px;
height: 60px;
padding:14px 20px;
line-height: 16px;
font-weight:700;
color: #ffffff;
background-color: #82B3D3;
text-decoration: none;
border-radius: 4px;
}

.pagination-link-white{
color:#000;
background-color:#F2F2F2;

}


.transparent-link{
  color: #000;
  background-color: transparent;


}
