@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  }

.main-container {
  flex-grow: 1;
  width: 1200px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: black;
  background: #ffffff;
  text-align: center;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  /* align-content: flex-end; */
  /* justify-content: space-evenly; */
  margin: 0;
  padding: 0;

}

.navigation-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  width: 300px;
  height: 64px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding: 20px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.description-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.text-cause {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
  padding: 0;
}

.images-city {
  display: block;
}

.advantage-item {
  color: #000000;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blue-item {
  color: #ffffff;
  background: #82b3d3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 400px;
  height: 385px;
}

.advantage-item h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0 112px;
  margin: 0;
  width: 175px;
  height: 56px;
}

.advantage-item p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0 85px;
  margin: 0;
  width: 230px;
  height: 42px;
}

.rectangle {
  padding: 0 170px;
  margin: 0;
}

.small-area {
  background: #83b3d31f;
}
.beautiful-road {
  background: #83b3d333;
}

.few-tourists {
  background: #83b3d31f;
}

.come-to-sedona h2 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.come-to-sedona p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.cards-list {
  display:flex;
  padding: 0;

}

.cads-element {
  color: #000000;
  background: #83b3d31f;
  text-align: center;
  width: 400px;
  height: 385px;
}

.cards-burger {
  background-color: #ffffff;
}

.cads-element h4 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cads-element p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.expected-dates {
  color: #000000;
  background: #ffffff;
  text-align: center;
}

.expected-dates h3 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.expected-dates {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  color: #ffffff;
  background: #756157;
  width: 367px;
  height: 52px;
  border-radius: 4px;
  border-width: 0;
}

.search-button p {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin: 0%;
}

.subscription {
  color: #ffffff;
  background-image: url("../images/fon-email.jpg");
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.subscription h3 {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.subscription p {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.blue-button {
  color: #ffffff;
  background: #82b3d3;
}

.page-footer {
  text-align: center;
}

.description-text {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hero {
  background-image: url("../images/Fon-images.jpg");
  width: 1200px;
  height: 485px;
  background-size: cover;
}

.hero-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 81px;
}

.telephone-footer a {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.main-index {
  width: 1200px;
}

.main-inner {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  width: 1200px;
}

.main-inner h1 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.infrastructure {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 150px;
  height: 175px;
 padding: 0;
}

.filter-button-blue {
  color: #ffffff;
  background: #82b3d3;
}

.main-inner input {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.spa {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards a {
  color: #000000;
}

.cards-amara {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border: 3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.cards-amara p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.amara-more-details {
  color: #ffffff;
  background: #756157;
}

.amara-to-favorites {
  color: #ffffff;
  background: #82b3d3;
}

.cards-villas {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.diablo {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

}

.cards-villas p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cards-desert {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.desert {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards-desert p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.cards-greentree {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  border:3px solid #E0E0E0;
  padding: 20px 20px 16px 20px;
}

.greentree {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cards-greentree p {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 150px;
  height: 40px;
}

.telephone-footer {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 350px;
  height: 40px;
}

.images-html {
  list-style-type: none;
  width: 115px;
  height: 33px;
}

ul {
  list-style-type: none;
}

.catalog_menu {
  display: flex;
  flex-direction: column;
}



.infrastructure ul li {
  padding: 0 auto;
}

.type_house {
  width: 150px;
  height: 160px;
}

.title_menu {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.title_label {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog_list {
  width: 100%;
  background-image: url(../images/fon_catalog_price.jpeg);
   height: 412px;
}

.elements_catalog_lists{

  flex-direction: row;
  align-items: flex-end;
  display: flex;
  gap:120px;

}

.hotels_found {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hotels_found h3{
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 36px;

}

.catalog_title_menu {
  width: 1200px;
  display: flex;
}
.subscription_catalog {
  color: #000;
  width: 100%;
  height: 415px;
  text-align: center;
}

.cards_menu {
  display: flex;
  flex-direction: row;
  gap:80px;
  flex-wrap: wrap;
  padding: 0;
  }

.menu_icons{
display: flex;
flex-direction: row;
list-style-type: none;

}

.input_price{
width: 100px;

}

.button_price{
  flex-direction: column;
  display: flex;
}

.price_catalog{
width: 300px;
height: 160px;
}

.hotels_text p{


margin:0;

}


.house-sign-more{
display:flex;
width: 300px;
height: 26px;
}

.catalog_sedona_hotels h1{
  color:#ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
   margin: 0;
}

.hotels_text{
  color:#ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display:flex;
}

.main_link{
width:100px;
height: 64px;
/* display:block; */
}


.about_sedona_link{
  /* display:block; */
  width:114px;
  height:64px;

}

.hotels_link{
  width: 126px;
  height: 64px;
  /* display:block; */
  /* display: flex; */
}

.logo{
margin-left:70px;
margin-right: 30px;

}
